{% extends 'core/base.html' %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center;" class="container">
    <h1 class="py-4 text-xl">Select a Plan for Your Team</h1>

    <div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
        {% for plan in plans %}
            <form method="post" action=".">
                {% csrf_token %}
                <div class="rounded-xl p-6 
                    {% if form.initial.plan.id == plan.id %}bg-emerald-100{% else %}bg-gray-100{% endif %}
                    hover:shadow-lg transition-shadow duration-300" style="width: 300px;">
                    <h2 class="mb-4 text-xl font-bold">{{ plan.name }}</h2>
                    <p class="text-gray-700">Price: ${{ plan.price }}</p>
                    <p class="text-gray-700">Max Leads: {{ plan.max_leads }}</p>
                    <p class="text-gray-700">Max Clients: {{ plan.max_clients }}</p>

                    <!-- Hidden Input to Pass the Selected Plan -->
                    <input type="hidden" name="plan" value="{{ plan.id }}">

                    <button 
                        type="submit" 
                        class="mt-4 w-full py-2 px-4 bg-teal-500 text-white rounded-lg hover:bg-teal-600">
                        Save
                    </button>
                </div>
            </form>
        {% endfor %}
    </div>
</div>
{% endblock %}
